:root {
  --darkest-spruce: #2c3b39;
  --earhart-emerald: #486859;
  --memphis-green: #5d9b79;
  --willow-hedge: #86c69a;
  --coastal-foam: #b5e7cb;
  --dark-moon: #171819;
  --dracula-orchid: #2c3438;
  --slate-court: #465456;
  --arctic: #64878c;
  --embellished-blue: #8ac4c3;
  --gentle-giant: #afe9df;
  --everglade: #27412d;
  --arcala-green: #3d6f43;
  --spinach: #42a459;
  --van-gogh-green: #59cf93;
  --bubble-algae: #97edca;
  --mint-coffee: #d0ffea;
  --twilight-zone: #181c19;
  --forestry: #293f21;
  --druid-green: #477238;
  --caterpillar: #61a53f;
  --overgrowth: #8fd032;
  --pick-your-poison: #c4f129;
  --deep-seaweed: #333c24;
  --inverness: #586335;
  --komatsuna-green: #7f8e44;
  --lush-bamboo: #adb834;
  --poisonous-ice-cream: #d5dc1d;
  --banana-bandanna: #f8f644;
  --orka-black: #271f1b;
  --simmered-seaweed: #4c3d2e;
  --scots-pine: #61683a;
  --april-hills: #939446;
  --almond-puff: #c6b858;
  --golden-scarab: #efdd91;
  --subterranean: #452a1b;
  --pickled-bean: #724b2c;
  --western-pursuit: #8c5b3e;
  --copper: #b47538;
  --bugle-call: #d39741;
  --golden-apricot: #d6a851;
  --antique-burgundy: #2d1b1e;
  --ebicha-brown: #612721;
  --smouldering: #b9321d;
  --spice-market: #b9451d;
  --fuego-nuevo: #f1641f;
  --hit-pink: #fca570;
  --american-mahogany: #4f342f;
  --one-dozen: #673931;
  --stirland-battlemire: #b05b2c;
  --california: #e88a36;
  --pyrite: #f8c53a;
  --the-first-daffodil: #fff089;
  --quiver: #855f39;
  --maple-syrup-brown: #c68556;
  --wooden-sword: #e2b27e;
  --rosy-highlight: #f6d896;
  --vis-vis: #f8e398;
  --twinkling-lights: #fcf7be;
  --gondola: #373334;
  --moroccan-dusk: #695b59;
  --cliff-rock: #b29476;
  --white-raisin: #e1bf89;
  --evening-sun: #ffe0b7;
  --pomelo-sugar: #ffe9e3;
  --smoky-charcoal: #33272a;
  --don-juan: #594d4d;
  --dutch-cocoa: #886e6a;
  --plum-blossom-dye: #b28b78;
  --frontier-land: #bda499;
  --shetland-lace: #ddcebf;
  --smoky-charcoal-2: #36282b;
  --deep-exquisite: #654956;
  --rust-magenta: #966888;
  --elite-pink: #c090a9;
  --bombay-pink: #d4b8b8;
  --red-dust: #eae0dd;
  --smiler-s-mist: #322f35;
  --mulled-wine: #564f5b;
  --self-powered: #87738f;
  --beach-lilac: #bfa5c9;
  --orchid-shimmer: #e3cddf;
  --bride: #eee6ea;
  --shikon: #2a1e23;
  --liberal-lilac: #9052bc;
  --pink-punk: #d480bb;
  --pretty-pink-piggy: #f3afde;
  --sassy-pink: #fad6ff;
  --white: #ffffff;
  --grape-wine: #64364b;
  --extravagant-blush: #b25266;
  --zany-pink: #e27285;
  --simple-pink: #f6a2a8;
  --crab-bisque: #eeb59c;
  --elegant-light-rose: #fdc9c9;
  --kettle-black: #171516;
  --moonlight-sonata: #494182;
  --ultra-violet: #7864c6;
  --middy-s-purple: #9c8bdb;
  --teasel-dipsacus: #ceaaed;
  --floral-scent: #ecebe7;
  --fainting-light: #1b2447;
  --nightly-activities: #2b4e95;
  --skies-of-cyberspace: #4572e3;
  --klaxosaur-blue: #2789cd;
  --clean-pool: #42bfe8;
  --blue-crystal-landscape: #73efe8;
  --back-in-black: #14121d;
  --clear-purple: #3e2e7f;
  --tanzine: #6980d5;
  --widowmaker: #8aa1f6;
  --pale-phthalo-blue: #c9d4fd;
  --carte-blanche: #f1f2ff;
  --navy-blazer: #282c3c;
  --senate: #485262;
  --beguiling-blue: #5e718e;
  --hawaiian-sky: #88a3bc;
  --light-sea-breeze: #b8ccd8;
  --sidewalk-chalk-blue: #dceaee;
  --black-sheep: #0e0c0c;
  --darkshore: #464762;
  --daemonette-hide: #696682;
  --tusi-grey: #9a97b9;
  --lavender-escape: #c5c7dd;
  --whisper-blue: #e6e7f0;
  --tomcat: #323232;
  --charcoal-dust: #595757;
  --grey-suit: #807b7a;
  --mauve-melody: #a69e9a;
  --misty-haze: #cbc6c1;
  --cotton-ridge: #f1ebdb;
}
