:root,
:root[data-theme="coffee"] {
  --background: var(--orka-black);
  --panel: var(--american-mahogany);
  --text: var(--white-raisin);
  --muted: var(--moroccan-dusk);
  --accent: var(--maple-syrup-brown);
}

:root[data-theme="snowy-blue"] {
  --background: var(--navy-blazer);
  --panel: var(--slate-court);
  --text: var(--hawaiian-sky);
  --muted: var(--beguiling-blue);
  --accent: var(--skies-of-cyberspace);
}
